.video{
    background-image: url('https://s3.envato.com/files/256819606/DSC01582-2019.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;

    &__img{
        width: 104px;
        height: 104px;
        fill: #FFFFFF;
    }

    &__title{
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    color: #22ad06;
    margin-bottom: 0px;
    padding-bottom: 50px;
    border-bottom: 5px #AACF37 solid;
    }

    &__subtitle{
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        color: #411277;
        max-width: 70%;
    }

    &__svg{
        width: 136px;
        height: 136px;
        fill: yellow;
        margin-top: 220px;
        margin-bottom: 200px;
    }
}